p {
 font-family: 'Aref Ruqaa', serif;
}

html {
    font-size: 45px;
    font-family: placeholder: 'Aref Ruqaa' serif;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #322E2E;
	text-shadow: 3px 3px 1px black;
	font-size: 60px;
	text-align: center;
}

h2 {
	font-size: 60px;
	text-align: center;
}

p,li {
	font-size: 20px;
	line-height: 2;
	letter-spacing: 4px;
}
html {
	background-color: #D8B0B0
}

body {
	width: 1200px;
	margin: 0 auto;
	background-color: #D8B0B1
    padding:0 20px 20px 20px;
    border: 0px solid black;
}